# ======================
# Build Folders
# ======================
**/bin/
**/obj/
**/out/

# ======================
# Visual Studio files
# ======================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ======================
# Logs
# ======================
*.log

# ======================
# NuGet packages
# ======================
*.nupkg
packages/

# ======================
# Publish output
# ======================
**/publish/

# ======================
# Rider
# ======================
.idea/

# ======================
# Others
# ======================
*.DS_Store
*.pdb
*.dll
*.cache
